@{
    ViewBag.Title = "Zaufali nam";
}

@section scripts{
    <script type="text/javascript">
        var OfertaImageViewModel = function () {
            var self = this;

            self.ofertaOgrodniczaImageList = ko.observableArray([
                new GaleriaObrazek('@Url.Content("~/Images/referencje/basfer.png")', '@Url.Content("~/Images/referencje/basfer.png")', 'Basfer', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/betronika.jpg")', '@Url.Content("~/Images/referencje/betronika.jpg")', 'Betoniarnia Betronika', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/geo-bruk.png")', '@Url.Content("~/Images/referencje/geo-bruk.png")', 'Geo-Bruk', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/Geo-Bud.png")', '@Url.Content("~/Images/referencje/Geo-Bud.png")', 'Geo-Bud s.c.', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/gmina_jezow.png")', '@Url.Content("~/Images/referencje/gmina_jezow.png")', 'Gmina Jeżów', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/gmina_puszcza_marianska.png")', '@Url.Content("~/Images/referencje/gmina_puszcza_marianska.png")', 'Gmina Puszcza Mariańska', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/lasy_panstwowe_nadlesnictwo_radziwillow.jpg")', '@Url.Content("~/Images/referencje/basfer.png")', 'Lasy Państwowe Nadleśnictwo Radziwiłłów', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/Powiatowy_Zarzad_Drog_w_Zyrardowie.png")', '@Url.Content("~/Images/referencje/basfer.png")', 'Powiatowy Zarząd Dróg w Żyrardowie', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/hata_plus .png")', '@Url.Content("~/Images/referencje/basfer.png")', 'P.P.H.U. HATA PLUS', 'ofertaImage'),
                new GaleriaObrazek('@Url.Content("~/Images/referencje/KAMPOL.jpg")', '@Url.Content("~/Images/referencje/basfer.png")', 'P.U.H. KAMPOL Stabilizacje Gruntu', 'ofertaImage'),
            ]);

            self.ofertaOgrodniczaWierszeKolumny = ko.computed(function () {
                return podzielNaWierszeKolumny(self.ofertaOgrodniczaImageList(), 3);
            });

        };


        $(document).ready(function () {
            ko.applyBindings(new OfertaImageViewModel());
        });
    </script>
}

@section body{
    <div class="right">
        <div class="tekst">
            <h1 class="ng">Zaufali nam</h1>
            <div>
                <p class="articleText">
                    <table class="tabelkaReferencje" style="width: 95%;">
                        <tbody data-bind="foreach: ofertaOgrodniczaWierszeKolumny">
                            <tr>
                                <!-- ko foreach: $data -->
                                <td>
                                    <img data-bind="attr:{src:miniSrc, alt:title, title:title}" /><br />
                                    <label data-bind="text:title"></label>
                                </td>
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
}
